h1 {
    font-weight: 700 bold;
    font-size: 26px;
    font-family: "Nunito Sans", sans-serif;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: poppins, sans-serif;
    display: block;
    font-weight: bold;
}

p {
    font-weight: 400 regular;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

div {

}

/*holds and entire segment*/
.container {
    border: 2px solid black;
    width: 500px;
    margin: 10px auto;
}

.colour-container{
    margin: 10px;
}

/*for the colour name*/
.colour-label {
    text-align:center;
}

.colour-hex {
    text-align:center;
}

.purple-panel {
    background-color: purple;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.magicmint-panel {
    background-color: aaf0d1;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.beige-panel {
    background-color: beige;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.lightblue-panel {
    background-color: lightblue;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}


/*holds each font type section*/
.font-panel {

}

.font-name {

}

.font-normal {

}

.font-bold {

}

.font-italic {

}

/*holds all the text types minus the heading */
.text-container {

}

/*holds each text type chunk*/
.text-panel {

}


