/*imported font*/
@font-face {
    font-family: 'Euphoria Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/euphoriascript/v11/mFTpWb0X2bLb_cx6To2B8GpKoD5qlPxS.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

h1 {
    font-weight: 700 bold;
    font-size: 75px;
    font-family: "Euphoria Script", cursive;
    text-align: center;
}

h2 {
    font-weight: 500;
    font-size: 40px;
    font-family: "Euphoria Script", cursive;
    display: block;
    font-weight: bold;
    text-align: center;

}

p {
    font-weight: 400 regular;
    font-size: 14px;
    font-family: poppins, sans-serif;
}

div {

}

/*holds and entire segment*/
.container {
    border: 2px solid black;
    width: 700px;
    margin: 10px auto;
}

.colour-container{
    margin: 10px;
}

/*for the colour name*/
.colour-label {
    text-align:center;
}

.colour-hex {
    text-align:center;
}

.tealgreen-panel {
    background-color: #3d5b59;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.mint-panel {
    background-color: #b5e5cf;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.salmon-panel {
    background-color: salmon;
    display: inline-block;
    width: 32%;
    text-align: center;
    margin: 20px auto;
    min-height: 100px;
}

.mauve-panel {
    background-color: #b99095;
    display: inline-block;
    width: 32%;
    margin: 20px auto;
    min-height: 100px;
    text-align: center;
}

.beige-panel {
    background-color: beige;
    display: inline-block;
    width: 32%;
    margin: 20px auto;
    min-height: 100px;
    text-align: center;
}

/*holds each font type section*/

.font-container {
    margin: 10px;
}

/*POPPINS font*/
.font-panel-poppins {
    display: inline-block;
    width: 45%;
}

.font-name-poppins {
    text-decoration: underline;
}

.font-normal-poppins {
    font-weight: normal
}

.font-bold-poppins {
    font-weight: bold;
}

.font-italic-poppins {
    font-style: italic;
}

/*NUNITO SANS font*/
.font-panel-nunitosans {
    display: inline-block;
    width: 45%;
}

.font-name-nunitosans {
    text-decoration: underline;
}

.font-normal-nunitosans {
    font-weight: normal;
}

.font-bold-nunitosans {
    font-weight: bold;
}

.font-italic-nunitosans {
    font-style: italic;
}

/*SOURCE CODE PRO font*/
.font-panel-euphoriascript {
    display: inline-block;
    width: 45%;
}

.font-name-euphoriascript {
    text-decoration: underline;
}

.font-normal-euphoriascript {
    font-weight: normal;
}

.font-bold-euphoriascript {
font-weight: bold;
}

.font-italic-euphoriascript {
    font-style: italic;
}


/*holds all the text types minus the heading */
.text-container {
    margin: 10px;
}

/*holds each text type chunk*/
.text-panel {

}

.text-heading {
    text-align: left;
    font-family: "Euphoria Script", cursive;
    font-size: 26px;
    font-weight: 700 bold;

    
}

.text-subheading {
    text-align: left;
    font-family: "nunito sans", sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.text-paragraph {
    text-align: left;
    font-weight: 400 regular;
    font-size: 14px;
    font-family: poppins, sans-serif;
}


